h1:first-of-type{
    font-weight: bold;
    font-family: cursive;
    border: dotted;
    text-align: center;
    height: 65px;
    background: skyblue;
}
button:first-of-type{
    background: lightblue;
    border-radius: 15px;
    margin-top: 1%;
    margin-bottom: 1%;
}
button:hover{
    background: rgb(154, 202, 219);
    font-weight: bold;
}
table:first-of-type{
    margin-top: 1%;
    margin-bottom: 1%;
}
h2{
    text-align: center;
}
form{
    margin-left: 1%;
}
